body {
  color: rgba(0, 0, 0, 0.72);
  font-family: "Gothic A1", sans-serif;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 900;
}

h2 {
  background: rgba(0, 0, 0, 0.87);
  color: white;
  display: inline-block;
  padding: 0.14em 1em 0 2em;
  margin-left: -2em;
}

h4 {
  margin-bottom: 0.3em;
  font-size: 20px;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

.content{
  height: 800px;
  background-color: antiquewhite;
}
