@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

.box {
    display: block;
    min-width: 254px;
    height: 290px;
    margin-bottom: 25px !important;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    cursor: pointer;
  }
  
  .upload-options {
    position: relative;
    height: 36px;
    background-color: #ff7b3e;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
  }
  .upload-options:hover {
    background-color: #ffa982;
  }
  .upload-options label::before {
    content: attr(data-text);
    font-family: "Material Icons";
    position: absolute;
    font-size: 2rem;
    color: #e6e6e6;
    top: calc(50% - 1.75rem);
    left: calc(50% - 1rem);
    z-index: 0;
    cursor: pointer;
  }
  
  .js--image-preview {
    height: 254px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   .js--image-preview::after {
    content: attr(data-text);
    font-family: "Material Icons";
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
    cursor: pointer;
  }
  /* .upload-options .label_result{
    position: absolute;
    font-size: 1.25rem;
    color: #e6e6e6;
    top: calc(50% - 1rem);
    left: calc(50% - 1.5rem);
    z-index: 0;
    cursor: pointer;
  } */

  /* Submit Button */
  button.button-morph{
    display:inline-block;
    text-decoration:none;
    color:#ff7b3e;
    background-color:transparent;
    border:1px solid #ff7b3e;
    border-radius:100px;
    padding: .3em 1.2em;
    font-size: 18px;
    background-size: 200% 100%;	
    background-image: linear-gradient(to right, transparent 50%, #ff7b3e 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    cursor: pointer;
  }
  button.button-morph:hover{
    color:rgba(255, 255, 255, 1);
    background-color: #ff7b3e;
    background-position: -100% 100%;
    cursor: pointer;
  }
  button.button-morph::after{
    content: attr(data-text);
    font-family: "Material Icons";
  }
  button.button-morph:focus {outline:0 !important;}